$primary-color: #232323;
$accent-color: #ffcb2e;
$background-color: #f4f4f4;
$text-color: #fff;

body {
  font-family: 'Raleway', sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 20px;
}


