$primary-color: #ffcb2e;
$secondary-color: #232323;
$font-stack: 'Raleway', sans-serif;
$margin-spacing: 20px;

@mixin font-style($size: 1em, $weight: normal, $style: normal) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

body {
    font-family: $font-stack;
    background: #a6a6a6;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 80em;
    margin: 3em auto;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0.5, 0.5, 0.5, 0.5);
    justify-content: space-between;

}

.row{
    display: flex;

}


.col1, .col2{
    font-family: $font-stack; 
    @include font-style(15.3px);
    max-width: 50em;
    margin-right: 4em;
    margin-left: 37em;
    flex: 1;
}

.col1{
    padding-top: 4em;
}

.col2{
    font-weight: bold;
    font-style: italic;
}


.custom-divider {
    display: flex;
    border-top: 1.3px solid $secondary-color;
    margin: 0;
    width: 275px;
}

.col-info{
    display: flex;
    flex-direction: column;
    flex: 1; 
    font-family: $font-stack;
    color: $secondary-color;             
    padding: 0;        
    box-sizing: border-box;
    margin-left: 35em;
    position: relative;
    top: 5.5em;
    h1 {
      @include font-style(55px, 900);
      margin-bottom: -15px;
      }
      #surname {
        @include font-style(55px, lighter);
        margin-bottom: -5px;
      }
      p {
        @include font-style(15px, lighter, italic);
        letter-spacing: 4px;
      }
}


.col-contact-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: $font-stack;
    padding-top: 6em; 
    padding-bottom: 0;     
    box-sizing: border-box;
    padding-left: 8em;
    margin-left: -2em;
    font-size: 15px;

p{
    @include font-style(1em, bold, italic);
    margin: 0;
    min-width: 150px;
    margin-bottom: 12px;
    margin-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  @include font-style(1em, bold, italic);
  margin-bottom: 12px;
  margin-top: 10px;
}

address{
    @include font-style(1em, bold, italic);
    width: 100%;
    max-width: 230px;
    margin-bottom: 12px;
    margin-top: 10px;
}

i{
    font-size: 15px;
    display: flex;
    position: relative;
    top: -7px;
    margin-bottom: 12px;
    margin-top: 8px;
}
}

.sidebar{
    display: flex;
    z-index: 1;
    flex-direction: column;
    font-family: $font-stack;
    margin: -23.5em 0 3em 5.5em;
    background-color: $secondary-color;
    color: white;
    width: 25em;
    height: auto;
    padding: 2em 0 2em 0;
    .profile-image{
        background-color: $secondary-color;
        margin: 0 3em;
        .face{
            width: 100%;
            box-sizing: border-box;
            border: 0.5em solid;
        }
    }
    
    h1{
        padding-left: -1px;
        @include font-style(23.6px, bold, normal);
        margin-top: -1px;
    }

    .custom-divider {
        display: flex;
        border-top: 2px solid white;
        margin: 0px;
        width: 19em;
        margin-top: -8.3px;
    }

    .education{
        margin: 2em 3em 0 3em;
        text-align: justify;
        .degree{
            margin: 2em 0 2em 0;
            padding-left: 2em;
        
        h5{
            @include font-style(medium, bold, italic);
            margin-bottom: 0px;
            margin-top: -6.5em;
        }
        h4{
            @include font-style(larger, bold, normal);
        }
        p {
            @include font-style(0.8em, normal, normal);
            min-width: 21em;
            max-width: 21em;
        }
      }
    }
    
    .references{
        margin: 2em 3em 0 3em;
        text-align: justify;
        .contacts{
            margin: 1.5em 0;
            .address{
              color: $primary-color;
              @include font-style(1em, bold, italic);
          }
          h3{
              margin: 0;
              @include font-style(1.5em, bold, normal);
          }
          h5{
              font-size: 1.2em;
              margin: 0.35em 0 0 0;
              font-weight: normal;
          }
        }
    }

    .languages{
        margin: 2em 3em 0.5em 3em;
        
        ul {
            padding: 0;
            margin: 1.5em 0 0 0;

            li {
              display: flex;
              list-style: none;
              position: relative; 
              padding-left: 1em; 
              margin-top: 1em;
              @include font-style(small, bold, normal);
  
              &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 0.5em;  
                  height: 0.5em;
                  background-color: $primary-color;
              }
            }
        }
        .lang-progress {
          margin-left: auto;
          margin-top: 0.5em;
          width: 50%;
          background-color: #353535;
          height: 0.3em;
          overflow: hidden;
  
          .sd-progress-bar {
            height: 100%;
            background-color: $primary-color;
          }
        }
      }

    i{
        color: $secondary-color;
        display: flex;
        position: relative;
        margin-bottom: 12px;
        margin-top: 8px;
        top: -2.5px;
        font-size: 18px;
    }
}


.main-info{
  font-family: $font-stack;
  max-width: 50%;
  margin: 2em 6em 3em 2.5em;

  .custom-divider{
    width: 100%;
    border-top: 2.5px solid $secondary-color;
    margin-top: 0;
  }
    
  h1{
    font-weight: bold;
    font-size: 23.6px;
    margin: 0;
    margin-top: 5px;
  }
  h5{
      margin: 0 0 0.25em 0;
      font-weight: bold;
  }
  h3{
      margin: 0;
      font-size: medium;
      font-weight: bold;
      font-style: italic;
  }
  h6{
    font-size: 2vw;
  }
  .city{
      font-style: italic;
      font-size: smaller;
      font-weight: normal;
      margin: 0;
  }
  .job-description{
      margin: 0;
      font-size: 0.8em;
      line-height: 1.7em;
      min-width: 45em;
      max-width: 45em;
  }
  .job{
       margin: -6.5em 0 0 2.8em;
       text-align: justify;
       span {
           display: table-cell;
       }
  }
  .knowledge{
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
      gap: 2em;

      .skills-hobbies {
        flex: 1;
        margin: 0;
        font-size: small;
    }
      
      ul {
        padding: 0;
        margin: 1.5em 0 0 0;

        li {
          display: flex;
          list-style: none;
          position: relative; 
          padding-left: 1em; 
          margin-top: 1em;
          font-weight: bold;
          font-size: 1em;

          &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 0.5em;  
              height: 0.5em;
              background-color: $primary-color;
          }
        }
      }

    .lang-progress {
      margin-left: auto;
      margin-top: 0.5em;
      width: 40%;
      background-color: #d9d9d9;
      height: 0.3em;
      overflow: hidden;

      .sd-progress-bar {
        height: 100%;
        background-color: $primary-color;
      }
    }
  

    i{
      font-size: 17px;
      display: flex;
      align-items: center;
    }
  }

  .year{
    margin-top: 2em;
   margin-left: 0.2px;
   height: 6.4em;
   white-space: nowrap;
  }
}


.year {
    background-color: $primary-color;
    color: $secondary-color;
    width: 1.2em; 
    height: auto;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -2em;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        writing-mode: vertical-rl; // Вертикальна орієнтація тексту
        transform: rotate(180deg); // Поворот тексту для правильного вигляду
        font-size: 0.7em;
        line-height: 1em;
    }
}

.mini-icon-box{
    display: flex;
    align-items: baseline;
    .mini-icon-contacts{
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        padding: 0.3em;
        height: 1.6em;
        width: 1.6em;
        margin: auto 1em auto 0;
    }
    .mini-icon-heading{
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        padding: 0em;
        height: 1.84em;
        width: 1.84em;
        margin: 0 1em 0 0;
    }
    .icon{
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -10px;
      margin-top: 8px;
      font-size: 18px;
      height: 100%;
    }
}

body .rectangle {
  position: absolute;
  z-index: 0;
  width: 66%;  
  height: 11.7em;  
  top: 15.8em;
  background-color: $primary-color; 
}

.hidden {
  display: none;
}

.toggle-btn {
  background-color: $primary-color;
  color: $secondary-color; 
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  
}